
.hexagon {
    height: 28rem;
    background: inherit;
    width: 100%;
    -webkit-clip-path: polygon(
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        0 75%,
        0 25%
    );
    -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    -ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    overflow: hidden;
    backdrop-filter: blur(15px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}