.chat-room-container {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.room-name {
    margin-top: 0;
}

.messages-container {
    min-height: 100px;
    border: none;
    border-radius: 7px 7px 0 0;
}

.messages-list {
    list-style-type: none;
    padding: 0;
}

.newMessage-input-field {
    height: 5rem;
    font-size: 1rem;
    padding: 1rem;
    resize: none;
    overflow: scroll;
}

.message_item {
    width: auto;
    max-width: 70%;
    margin: 15px 15px;
    padding: 10px 15px;
    word-break: break-word;
    border-radius: 10px;
    color: white;
}

.my-message {
    background-color: #b0d8bc;
    margin-left: auto;
    box-shadow: 1px 1px 2px 0px #dddddd;
}

.received-message {
    background-color: #1d1d42;
    margin-right: auto;
    box-shadow: -1px 1px 2px 0px #dddddd;
}

.send-message-button {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background: #94d0a2;
    padding: 1rem 1rem;
    border: none;
}

.messages-container::-webkit-scrollbar {
    display: none;
}

.tab {
    /* padding-top: 1.5rem; */
    /* margin-bottom: 3.5rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}

.bigTitle {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

.titleBox {
    margin-right: 8rem;
}

.backwardBtn {
    background-color: transparent;
    /* margin-left: 1rem; */
    width: 15%;
    transition: all 0.5s ease;
    color: #000000;
    outline: none;
    size: 15rem;
}

.typeContainer {
    margin-bottom: 10rem;
}

@media only screen and (max-width: 850px) {
    .newMessage-input-field {
        height: 6rem;
        font-size: 1rem;
        padding: 1rem;
        resize: none;
        overflow: scroll;
    }
}
