.avatar {
    box-shadow: 0px 0px 5px #fff, 0px 0px 10px 0px 0px 25px, 0px 0px 50px #ff0;
}

.bodyBox {
    display: flex;
    height: 100%;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper {
    margin: 0 5rem;
    cursor: pointer;
}

.slide {
    margin-bottom: 1rem;
}

.buttonContainer {
    height: 7rem;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-around;
}

@media only screen and (max-width: 850px) {
    .Hstack {
        margin: 1rem;
    }
    .mySwiper {
        margin: 0;
    }

    .buttonContainer {
        height: 5rem;
        width: 100%;
        margin-bottom: 1rem;
        justify-content: space-around;
    }
}
