.box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    left: 0;
    border: 1px;
}

.meunBox {
    justify-content: flex-start;
}

.menuItem {
    margin: 2rem 1rem;
    padding: auto;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 600;
    color: rgb(60, 49, 49);
}
.title {
    margin-right: 1rem;
}
